.env
.env.backup
.env.local
.idea
.phpstorm.meta.php
.phpunit.result.cache
.vagrant
.vscode
_ide_helper.php
_ide_helper_models.php
Homestead.json
Homestead.yaml
node_modules
npm-debug.log
public/assets
public/fonts
public/hot
public/mix-manifest.json
public/scripts
public/storage
public/styles
SCRATCH.md
storage/*.key
storage/clockwork
storage/clockwork/
storage/database
storage/debugbar/
storage/medialibrary/
storage/purifier/
vendor
yarn-error.log
