.env
.env.backup
.env.local
.idea
.phpstorm.meta.php
.phpunit.result.cache
.vagrant
.vscode
_ide_helper.php
_ide_helper_models.php
Homestead.json
Homestead.yaml
node_modules
npm-debug.log
public/assets
public/css
public/fonts
public/hot
public/js
public/mix-manifest.json
public/storage
SCRATCH.md
storage/*.key
storage/database/
storage/debugbar/
storage/medialibrary/
storage/purifier/
vendor
yarn-error.log
